In [0]:
# Here we'll predict if a member of Congress is a Democrat or a Republican
# This is an example of Binary Classifiaction
# This is where someone is A OR B. Also good for CNN (Cat OR Dog)

In [0]:
import pandas as pd
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.models import Sequential
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [4]:
from google.colab import files
uploaded = files.upload()
uploaded
!ls

Saving house-votes-84.data.txt to house-votes-84.data.txt
Saving house-votes-84.names.txt to house-votes-84.names.txt
house-votes-84.data.txt  house-votes-84.names.txt  sample_data

In [15]:
# Load the dataset (From 1984!)
columnNames = ['party','handicapped-infants', 'water-project-cost-sharing', 
                    'adoption-of-the-budget-resolution', 'physician-fee-freeze',
                    'el-salvador-aid', 'religious-groups-in-schools',
                    'anti-satellite-test-ban', 'aid-to-nicaraguan-contras',
                    'mx-missle', 'immigration', 'synfuels-corporation-cutback',
                    'education-spending', 'superfund-right-to-sue', 'crime',
                    'duty-free-exports', 'export-administration-act-south-africa']

votingData = pd.read_csv('house-votes-84.data.txt', na_values=['?'], names = labels)
votingData.head()

        party  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                    NaN
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [16]:
# More in-depth statistics
votingData.describe()

           party  ... export-administration-act-south-africa
count        435  ...                                    331
unique         2  ...                                      2
top     democrat  ...                                      y
freq         267  ...                                    269

[4 rows x 17 columns]

In [17]:
# We can see that some politicians abastained so in this case we'll drop this NaN's
# Normally we run the risk of bias here, but for now it's OK
votingData.dropna(inplace=True)
votingData.describe()

           party  ... export-administration-act-south-africa
count        232  ...                                    232
unique         2  ...                                      2
top     democrat  ...                                      y
freq         124  ...                                    189

[4 rows x 17 columns]

In [18]:
# Normalise the data
votingData.replace(('y','n'),(1,0),inplace=True)
votingData.replace(('democrat','republican'),(1,0),inplace=True)
votingData.head()

    party  ...  export-administration-act-south-africa
5       1  ...                                       1
8       0  ...                                       1
19      1  ...                                       1
23      1  ...                                       1
25      1  ...                                       1

[5 rows x 17 columns]

In [0]:
# Extract features and labels
features = votingData[columnNames].values
labels = votingData['party'].values

In [0]:
# Build our model
def predictParty():
  model = Sequential()
  # input_dim is 16 as there are 16 issues being voted on.
  # kernel_initializer sets the initial random weight
  model.add(Dense(32, input_dim=17,kernel_initializer='normal',activation='relu'))
  # Reduce 32 neurons to 16 to spread out learning
  model.add(Dense(16,kernel_initializer='normal',activation='relu'))
  # Output layer (Note the diff as it's binary)
  model.add(Dense(1,kernel_initializer='normal',activation='sigmoid'))
  # Compile the model
  model.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])
  return model

In [32]:
# Wrap model in estimator and check accuracy.
# Build function = create a model
estimate = KerasClassifier(build_fn=predictParty,epochs=100,verbose=0)
# Evaluate the accuracy
accuracyScore = cross_val_score(estimate,features,labels,cv=10)
accuracyScore.mean()

1.0